
#navbar{
    background-color: red;
}

@import "bootstrap";




#logo{
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#logo:hover{
    color: black;
    text-decoration: none;
    background-color: #fff;
}

#navbarDropdown:hover{
    color: black;
    text-decoration: none;
    background-color: #fff;
}

#navbarArticles:hover{
    color: black;
    text-decoration: none;
    background-color: #fff;
}

#navbarLink:hover{
    color: black;
    text-decoration: none;
    background-color: #fff;
}

#index{
    text-align: center;
    background-image: asset-url('MCQ3.jpg');
    background-size: cover;
    height: 550px;
}

#index h1{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
}


#footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

#footer a{
    color: #3d4df7;
}

#footer small{
    color: #3d4df7;
}

#footer a:hover{
    color: #3d4df7;
    background-color: #fff;
}

#footer small:hover{
    float: left;
    background-color: #fff;
}

#footer ul{
    float: right;
    list-style: none;
}

#footer ul li{
    float: left;
    margin-left: 15px;
}