<div class="container">
    <footer class="footer" id="footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course" id="copyright">The Complete Ruby on rails </a>by<a href="https://github.com/rockboy998/test-app" id="user">Rockboy</a>
        </small>
        <nav>
            <ul>
                <li id="pather"><%= link_to"About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>